@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.exito {
  background-color: limegreen;
  padding: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.back {
  margin-top: 1rem;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
main {
  color: #fff;
  background-color: #020202;
  min-height: calc(100vh - 70px);
}
footer {
  height: 50px;
}
